{
  "version": 1,
  "minor_version": 1,
  "key": "core.config",
  "data": {
    "latitude": 24.771227672003345,
    "longitude": 46.80861047934742,
    "elevation": 0,
    "unit_system": "metric",
    "location_name": "waleed room",
    "time_zone": "Asia/Riyadh",
    "external_url": null,
    "internal_url": null,
    "currency": "SAR"
  }
}