{
  "version": 1,
  "minor_version": 1,
  "key": "core.config",
  "data": {
    "latitude": 24.771241999084086,
    "longitude": 46.80862864712253,
    "elevation": 0,
    "unit_system": "metric",
    "location_name": "Abo Rami Home",
    "time_zone": "Asia/Riyadh",
    "external_url": null,
    "internal_url": null,
    "currency": "SAR"
  }
}